<div class="block"><h1>{{name}} {{surname}}</h1>
    <div class="profile clearfix">
        <ul class="personal-info">
            <li><div class="desc">Data urodzenia:</div><div class="val">{{birthday}}</div></li>
            <li><div class="desc">Telefon:</div><div class="val">{{phone}}</div></li>
            <li><div class="desc">E-mail:</div><div class="val">{{email}}</div></li>
            <li><div class="desc">Adres:</div><div class="val">
                <div>{{street}}</div>
                <div>{{postcode}} {{city}}</div>
                <div>woj. {{province}}</div>
            </div></li>
        </ul>
        <img src="{{avatar}}" />
    </div>
</div>