<div class="block">
    <div class="profile clearfix">
        <ul class="personal-info">
            <li><div class="line">{{name}} {{surname}}</div></li>
            <li><div class="line">{{phone}}</div></li>
            <li><div class="line">{{email}}</div></li>
        </ul>
    </div>
</div>