{{#if user}}
    {{partial "application/topbar"}}
{{/if}}
<div class="container main-container">
    <div id="global-alert">
        <div class="alert {{alertType}}" role="alert">{{alertMessage}}</div>
    </div>
    <div id="global-loader" {{bind-attr class="isLoading::hidden"}}></div>
    {{#if user}}
        {{outlet}}
    {{else}}
        {{view "login"}}
    {{/if}}
</div>
<div {{bind-attr class="user::stick-to-bottom"}}>
    <div class="container">
        <div class="well footer">
            Copyright @ Karol Łuckiewicz. Projekt i wykonanie: Karol Łuckiewicz, na potrzeby procesu rekrutacji.
        </div>
    </div>
</div>