<div class="visible-xs panel panel-danger">
    <div class="panel-heading">Content not available</div>
    <div class="panel-body">Sorry! Creator is not available for small resolutions.</div>
</div>
{{#view "modal" id="add-custom-block-modal" title="Add custom block" actionName="addCustomBlock" actionButton="Add"}}
    <label class="col-xs-12">Title (not required): {{input class="form-control" value=newCustomBlock.title}}</label>
    <label class="col-xs-12">Content: {{textarea class="form-control tinymce-enabled new-editor" value=newCustomBlock.content}}</label>
{{/view}}
{{#view "modal" id="edit-custom-block-modal" title="Edit custom block" actionName="editCustomBlock" actionButton="Edit"}}
    <label class="col-xs-12">Title (not required): {{input class="form-control" value=selectedCustomBlock.title}}</label>
    <label class="col-xs-12">Content: {{textarea class="form-control tinymce-enabled selected-editor" value=selectedCustomBlock.content}}</label>
{{/view}}
{{#view "modal" id="save-project-modal" title="Save project" actionName="saveProject" actionButton="Save"}}
    <label class="col-xs-12">Document title: {{input class="form-control" value=project.title}}</label>
{{/view}}
<div class="hidden-xs creator">
    <div class="col-xs-6 blocks">
        <div class="panel panel-primary blocks">
            <div class="panel-heading">Blocks <button class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#add-custom-block-modal"><i class="glyphicon glyphicon-plus"></i> Add custom block</button></div>
            <div class="panel-body">
                <h4>Basic blocks</h4>
                {{view "blocksList" list=basicBlocks isProject=false}}
                <h4>Custom blocks</h4>
                {{view "blocksList" list=customBlocks isProject=false canDelete=true}}
            </div>
        </div>
    </div>

    <div class="col-xs-6 project">
        <div class="panel panel-primary">
            <div class="panel-heading">Project
                <button class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#save-project-modal"><i class="glyphicon glyphicon-floppy-save"></i> Save</button>
                <button class="btn btn-success btn-xs pull-right action-print" {{action "printProject"}}><i class="glyphicon glyphicon-print"></i> Print</button>
                <button class="btn btn-success btn-xs pull-right action-print" {{action "downloadProject"}}><i class="glyphicon glyphicon-save"></i> Download</button>
                <form id="printForm" method="POST" target="_blank">
                    {{#each block in project.blocks}}{{input type="hidden" name="blocks[]" value=block.id}}{{/each}}
                </form>
            </div>
            <div class="panel-body">
                {{view "blocksList" list=project.blocks isProject=true}}
            </div>
        </div>
    </div>
</div>