<div class="col-md-5">
    {{partial "experience/abilities"}}
    {{partial "experience/languages"}}
</div>
<div class="col-md-7">
    {{partial "experience/employment"}}
    {{partial "experience/education"}}
</div>