{{#view "modal" id="remove-document-modal" title="Delete document" actionName="confirmRemoveDocument" actionButton="Delete"}}
    <label class="col-xs-12">Are you sure that you want to delete: {{toRemove.title}}?</label>
{{/view}}
<div class="documents-list">
    {{#each document in documents}}
        {{#if document.id}}
            <div class="col-sm-6 col-md-4 document-item">
                <div class="document-name">
                    {{document.title}}
                    <button class="btn btn-xs btn-danger pull-right" {{action "removeDocumentModal" document}}><i class="glyphicon glyphicon-remove"></i></button>
                </div>
                <img src="{{document.image}}" {{action "editDocument" document}} />
            </div>
        {{/if}}
    {{else}}
        <div class="no-documents"><p>You have no saved documents yet!</p>
            <p>Go to {{#link-to "creator"}}CREATOR{{/link-to}} to create first one.</p>
            <p>Remember to complete informations about your {{#link-to "profile"}}PROFILE{{/link-to}} and {{#link-to "experience"}}EXPERIENCE{{/link-to}} before creating new document.</p>
        </div>
    {{/each}}
</div>