<div class="col-md-5">
    <div class="panel panel-primary">
        <div class="panel-heading">Photo</div>
        <div class="panel-body">
            <div class="col-xs-5 text-center"><img class="avatar-image" src="{{user.avatarImage}}" /></div>
            <div class="col-xs-7 btn-group-vertical" role="group">
                {{view "inputFile" name="avatarImage" description="Upload photo"}}
                <button class="btn btn-danger" {{action "deleteAvatar"}}>Delete</button>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Basic informations</div>
        <div class="panel-body">
            <div class="col-xs-6">
                <label>Name {{input class="form-control" value=user.name}}</label>
            </div>
            <div class="col-xs-6">
                <label>Surname {{input class="form-control" value=user.surname}}</label>
            </div>
            <div class="col-xs-6">
                <label>E-mail {{input class="form-control" value=user.email}}</label>
            </div>
            <div class="col-xs-6">
                <label>Phone {{input class="form-control" value=user.phone}}</label>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Change password</div>
        <div class="panel-body">
            <div class="col-xs-6">
                <label>New password {{input type="password" class="form-control" value=newPassword}}</label>
            </div>
            <div class="col-xs-6">
                <label>Repeat {{input type="password" class="form-control" value=againPassword}}</label>
            </div>
            <div class="text-right">
                <button class="btn btn-default" {{action "clearNewPasswords"}}>Clear</button>
                <button class="btn btn-success" {{bind-attr disabled=cantSavePassword}} {{action "saveNewPassword"}}>Save</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-7">
    <div class="panel panel-primary">
        <div class="panel-heading">Address</div>
        <div class="panel-body">
            <label class="col-xs-12">Street {{input class="form-control" value=user.street}}</label>
            <label class="col-xs-12 col-sm-6">Postcode {{input class="form-control" value=user.postcode}}</label>
            <label class="col-xs-12 col-sm-6">City {{input class="form-control" value=user.city}}</label>
            <label class="col-xs-12 col-sm-6">State/Province {{input class="form-control" value=user.province}}</label>
            <label class="col-xs-12 col-sm-6">Country {{input class="form-control" value=user.country}}</label>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">About you</div>
        <div class="panel-body">
            <label class="col-xs-12">Birthday {{input class="form-control" value=user.birthday}}</label>
            <label class="col-xs-12">About {{textarea class="form-control about-textarea" value=user.about}}</label>
        </div>
    </div>
</div>
<div class="col-xs-12 text-right">
    <button class="btn btn-default" {{action "rollbackUser"}}>Rollback</button>
    <button class="btn btn-success" {{action "saveUser"}}>Save</button>
</div>