<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Cv Creator</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                {{#link-to "profile" class="action" tagName="li"}}<a>Profile</a>{{/link-to}}
                {{#link-to "experience" class="action" tagName="li"}}<a>Experience</a>{{/link-to}}
                {{#link-to "creator" class="action" tagName="li"}}<a>Creator</a>{{/link-to}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text text-center">Logged as: {{user.fullname}}</p></li>
                <li><a class="action" {{action "logout"}}>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>