body {
    padding: 0 10px;
    font-size: 15px;
}

h1 {
    font-size: 27px;
}

h4 {
    margin: 0;
}

ul {
    margin: 6px 0;
}

.block {
    page-break-inside: avoid !important;
}

.personal-info {
    width: 70%;
    float: left;
}

.profile img {
    float: right;
    width: 160px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.75);
}

.profile ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.profile ul li {

}

.abilities .value:after {
    content: ', ';
}
.abilities .value:last-of-type:after {
    content: '';
}

.desc {
    padding: 4px 0;
    width: 40%;
    float: left;
    font-weight: bold;
}
.val {
    padding: 4px 0;
    width: 60%;
    float: right;
}

.employment .desc, .education .desc {
    width: 25%;
}
.employment .val, .education .val {
    width: 75%;
}

.line {
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.title {
    font-weight: bold;
}

.footer {
    margin-top: 2px;
    font-size: 10px;
    font-style: italic;
    position: fixed;
    bottom: 0;
}

h2 {
    /*background-color: #cdcdcd;*/
    font-size: 21px;
    border-bottom: 2px solid #b0b0b0;
    /*padding: 0;*/
    margin: 15px 0;
}
h2 span {
    display: inline-block;
    background-color: white;
    margin: -1px 20px;
    padding: 0 6px;
    border: 0;
}

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}
