{{#each block in view.list}}
    <li {{bind-attr class=":list-group-item :block block.inProject:in-project" data-id=block.id}}>
        {{#if view.canDelete}}
            <button class="btn btn-sm btn-danger action-button delete-block" {{action "deleteCustomBlock" block}}><i class="glyphicon glyphicon-remove"></i></button>
        {{/if}}
        {{#if block.canEdit}}
            <button class="btn btn-sm btn-warning action-button edit-block" {{action "toggleEditCustomBlock" block}}><i class="glyphicon glyphicon-edit"></i></button>
        {{/if}}
        {{#unless view.isProject}}
            <button class="btn btn-sm btn-info action-button transfer-block" {{action "addBlock" block.id}}><i class="glyphicon glyphicon-arrow-right"></i></button>
        {{else}}
            <button class="btn btn-sm btn-info action-button transfer-block" {{action "removeBlock" block.id}}><i class="glyphicon glyphicon-arrow-left"></i></button>
        {{/unless}}
        <img src="{{block.image}}" />
    </li>
{{else}}
    <div class="no-blocks">No blocks</div>
{{/each}}