{{#unless view.newEntry}}
    <div class="actions">
        {{#unless view.editing}}
            <button class="btn btn-sm btn-warning" {{action "doEdit" target=view}}><i class="glyphicon glyphicon-edit"></i></button>
            <button class="btn btn-sm btn-danger" {{action "doRemove" target=view}}><i class="glyphicon glyphicon-remove"></i></button>
        {{else}}
            <button class="btn btn-sm btn-success" {{action "acceptEdit" target=view}}><i class="glyphicon glyphicon-check"></i></button>
        {{/unless}}
    </div>
{{/unless}}
<div class="col-xs-12">
    <label class="col-xs-12 col-sm-6">{{view.col1name}}
        {{#if view.editing}}
            {{input class="form-control" value=view.entry.col1}}
        {{else}}
            <div class="history-value">{{view.entry.col1}}</div>
        {{/if}}
    </label>
    <label class="col-xs-12 col-sm-6">{{view.col2name}}
        {{#if view.editing}}
            {{input class="form-control" value=view.entry.col2}}
        {{else}}
            <div class="history-value">{{view.entry.col2}}</div>
        {{/if}}
    </label>
</div>
<div class="col-xs-12">
    <label class="col-xs-12 col-sm-6">Start date
        {{#if view.editing}}
            {{input class="form-control" value=view.entry.start}}
        {{else}}
            <div class="history-value">{{view.entry.start}}</div>
        {{/if}}
    </label>
    <label class="col-xs-12 col-sm-6">End date
        {{#if view.editing}}
            {{input class="form-control" value=view.entry.end}}
        {{else}}
            <div class="history-value">{{view.entry.end}}</div>
        {{/if}}
    </label>
</div>
<div class="col-xs-12">
    <label class="col-xs-12">
        Other informations
        {{#if view.editing}}
            {{textarea class="history-textarea form-control tinymce-enable" value=view.entry.informations}}
        {{else}}
            <div class="history-value">{{{view.entry.informations}}}</div>
        {{/if}}
    </label>
</div>