<form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <input type="email" class="form-control login-email" placeholder="Email address" required autofocus {{bind-attr disabled=view.logging}}>
    <input type="password" class="form-control login-password" placeholder="Password" required {{bind-attr disabled=view.logging}}>
    <button class="btn btn-lg btn-primary btn-block" type="submit" {{bind-attr disabled=view.logging}}>Sign in</button>
</form>