.creator {
  position: relative;
  display: flex;
  align-items: stretch;
  li.block-placeholder {
    background-color: rgba(0, 0, 255, 0.15);
    list-style: none;
    height: 100px;
  }
  .not-project-list {
    li.in-project {
      display: none;
    }
  }
  .project-list {
    li.not-in-project {
      display: none;
    }
  }
  .action-print {
    margin-right: 10px;
  }
}

#printForm {
  display: none;
}

#add-custom-block-modal, #edit-custom-block-modal {
  textarea {
    height: 200px;
  }
}