.action {
  cursor: pointer;
}

.main-container {
  position: relative;
}

.stick-to-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#global-alert {
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  z-index: 99;
  display: none;

  .alert {
    margin: 0 auto;
    width: 40%;
    text-align: center;
  }
}

#global-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  cursor: wait;
}

.footer {
  margin-top: 20px;
}