.documents-list {
  .document-item {
    text-align: center;
    img {
      width: 100%;
      max-width: 330px;
      padding: 10px;
      box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
      cursor: pointer;
      &:hover {
        box-shadow: 6px 6px 12px 2px rgba(0,0,0,0.75);
      }
    }
    .document-name {
      line-height: 26px;
      text-align: left;
      .glyphicon {
        padding-bottom: 2px;
      }
    }
    margin-bottom: 15px;
  }
}
.no-documents {
  min-height: 330px;
}