<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{view.title}}</h4>
        </div>
        <div class="modal-body clearfix">
            {{yield}}
        </div>
        <div class="modal-footer">
            {{#if view.actionButton}}<button type="button" class="btn btn-primary" {{action "doAction" target=view}}>{{view.actionButton}}</button>{{/if}}
            {{#if view.closeButton}}<button type="button" class="btn btn-default" data-dismiss="modal">{{view.closeButton}}</button>{{/if}}
        </div>
    </div>
</div>
