.blocks-list {
  padding-bottom: 30px;
  margin-bottom: 0;
  border-radius: 0;
  li {
    border-radius: 0 !important;
    padding: 3px;
    img {
      width: 100%;
    }
    .btn.action-button {
      display: none;
      position: absolute;
      top: 5px;
      &.transfer-block {
        right: 5px;
      }
      &.edit-block {
        right: 45px;
      }
      &.delete-block {
        right: 85px;
      }
    }
    &:hover {
      .btn.action-button {
        display: block;
      }
    }
    &.ui-sortable-helper {
      .btn.action-button {
        display: none !important;
      }
    }
  }
}