textarea.history-textarea {
  height: 150px;
}

.panel-employment, .panel-education, .panel-languages {
  .list-group {
    margin-bottom: 0;
    .history-entry {
      position: relative;
      .actions {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        display: none;
      }
      &:hover .actions {
        display: block;
      }
    }
    .history-value {
      font-weight: normal;
    }
  }
}