.file-uploader {
  margin-left: 0;
  position: relative;
  overflow: hidden;

  form {
    display: inline;
  }

  span {
    position: relative;
  }

  input {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}