<div class="clearfix">
    <div class="desc">{{start}}{{end}}</div>
    <div class="val">
        <div class="title">{{col1}}</div>
        <div>{{col2}}</div>
        <div>{{informations}}</div>
    </div>
</div>