<div class="panel panel-primary">
    {{#view "modal" id="ability-add-modal" title="Add ability" actionName="addAbility" actionButton="Add"}}
        <label class="col-xs-12">Ability: {{input class="form-control" value=newAbility}}</label>
    {{/view}}

    <div class="panel-heading">
        Abilities
        <button class="pull-right btn btn-xs btn-success" data-toggle="modal" data-target="#ability-add-modal"><i class="glyphicon glyphicon-plus"></i> Add</button>
    </div>
    <div class="panel-body">
        {{#if user.abilities}}
            {{#each ability in user.abilities}}
                <div class="btn btn-default">
                    {{ability}}
                    <button class="btn btn-xs" {{action "removeAbility" ability}}><i class="glyphicon glyphicon-remove"></i></button>
                </div>
            {{/each}}
        {{else}}
            No abilities
        {{/if}}
    </div>
</div>