<div class="panel panel-primary">
    {{#view "modal" id="education-add-modal" title="Add entry into education history" actionName="addEducation" actionButton="Add"}}
        {{view "historyEntry" entry=newEducation col1name="Institution name" col2name="Course name" editing=true newEntry=true}}
    {{/view}}

    <div class="panel-heading">
        Education
        <button class="pull-right btn btn-xs btn-success" data-toggle="modal" data-target="#education-add-modal"><i class="glyphicon glyphicon-plus"></i> Add</button>
    </div>
    <div class="panel-body panel-education">
        {{#if user.education}}
            <ul class="list-group">
                {{#each education in user.education}}
                    <li class="list-group-item clearfix">
                        {{view "historyEntry" entry=education col1name="Institution name" col2name="Course name" listname="education" editing=false}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            No data
        {{/if}}
    </div>
</div>