<div class="panel panel-primary">
    {{#view "modal" id="emplyment-add-modal" title="Add entry into emplyment history" actionName="addEmployment" actionButton="Add"}}
        {{view "historyEntry" entry=newEmployment col1name="Company name" col2name="Job title" editing=true newEntry=true}}
    {{/view}}

    <div class="panel-heading">
        Employment history
        <button class="pull-right btn btn-xs btn-success" data-toggle="modal" data-target="#emplyment-add-modal"><i class="glyphicon glyphicon-plus"></i> Add</button>
    </div>
    <div class="panel-body panel-employment">
        {{#if user.employment}}
            <ul class="list-group">
                {{#each employment in user.employment}}
                    <li class="list-group-item clearfix">
                        {{view "historyEntry" entry=employment col1name="Company name" col2name="Job title" listname="employment" editing=false}}
                    </li>
                {{/each}}
            </ul>
        {{else}}
            No data
        {{/if}}
    </div>
</div>