<div class="panel panel-primary">
    {{#view "modal" id="language-add-modal" title="Add language" actionName="addLanguage" actionButton="Add"}}
        <label class="col-xs-12">Language: {{input class="form-control" value=newLanguage}}</label>
    {{/view}}

    <div class="panel-heading">
        Languages
        <button class="pull-right btn btn-xs btn-success" data-toggle="modal" data-target="#language-add-modal"><i class="glyphicon glyphicon-plus"></i> Add</button>
    </div>
    <div class="panel-body panel-languages">
        {{#if user.languages}}
            <ul class="list-group">
                {{#each language in user.languages}}
                    <li class="list-group-item">{{language}} <button class="btn btn-sm btn-default pull-right" {{action "removeLanguage" language}}><i class="glyphicon glyphicon-remove"></i></button></li>
                {{/each}}
            </ul>
        {{else}}
            No languages
        {{/if}}
    </div>
</div>